{% extends 'homepage/header.html' %}
{% load static %}
{% block content %}
<style>
    #head-pic {
        max-width: 800px;
    }

    /* Butttons */
    #main-start-button {
        background: #fff;
        color: #FF8A00;
        border: 1px solid #FF8A00;
    }

    #main-start-button:hover {
        background: #FF8A00;
        color: #fff;
        border: 1px solid #FF8A00;
    }

    #manager-button-1 {
        background: #fff;
        color: #FF8A00;
        border: 1px solid #FF8A00;
    }

    #manager-button-1:hover {
        background: #FF8A00;
        color: #fff;
        border: 1px solid #FF8A00;
    }

    #manager-button-2 {
        background: #fff;
        color: #FF8A00;
        border: 1px solid #FF8A00;
    }

    #manager-button-2:hover {
        background: #FF8A00;
        color: #fff;
        border: 1px solid #FF8A00;
    }

    #manager-button-3 {
        background: #fff;
        color: #FF8A00;
        border: 1px solid #FF8A00;
    }

    #manager-button-3:hover {
        background: #FF8A00;
        color: #fff;
        border: 1px solid #FF8A00;
    }

    #banner-four {
        height: 820px;
    }

    .six-steps-imgs {
        height: 80px;
    }

    /* list style */
    .smm-list {
        padding: 0;
        list-style: none;
        margin-bottom: 55px;
    }

    .smm-list li {
        padding-left: 33px;
        /* padding-top: 15px; */
        position: relative;
        margin-bottom: 30px;
        color: #505050;
    }

    .smm-list li:before {
        font-family: eleganticons;
        position: absolute;
        left: 0;
        top: 0;
    }

    .smm-list li.have:before {
        content: "\4e";
        font-family: eleganticons;
        position: absolute;
        left: 0;
        top: 0;
        color: #fa7070;
    }

    .smm-list li.not:before {
        content: "\4d";
        color: #fa7878;
    }
    #our-managers-can-div {
        margin-top: 150px;
    }
    #join-description {
        /* text-align: center; */
        /* width: 60%; */
    }
    #picture-two {
        max-height: 550px;
    }
    /* Adding Margin to six steps headers */
    .six-steps-header {
        margin-top: 30px;
    }
    .section-title.style-three .sub-title {
        color: #FF8A00;
        letter-spacing: 5px;
        font-weight: 400;
        margin: 0;
        line-height: 1.8;
    }
</style>
<section id="banner-four" class="banner banner-four" style="background-image: -o-linear-gradient(150deg, #ffffff 0%, #ffffff 100%);background-image:
    linear-gradient(-60deg, #ffffff 0%, #ffffff 100%);">
    <div class="container">
        <div class="banner-content-wrap-four">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="banner-content">
                        <h1 style="color: #2b2350;" class="banner-title wow pixFadeUp" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: pixFadeUp;">
                            Become a Social <br> Media Manager
                        </h1>

                        <p style="color: #2b2350;" class="description wow pixFadeUp" data-wow-delay="0.5s"
                            style="visibility: visible; animation-delay: 0.5s; animation-name: pixFadeUp;">
                            Make extra money as a social media manager unbiasedly <br> and have jobs guarenteed for you.
                        </p>
                        {% if user.is_authenticated %}
                        {% if user.profile.is_client == False and user.profile.is_manager == False %}
                            <a href="{% url 'homepage-overview' %}" id="main-start-button" class="pxs-btn banner-btn wow pixFadeUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: pixFadeUp;">Get
                            Started</a>
                        {% else %}
                            <a href="#" id="main-start-button" class="pxs-btn banner-btn wow pixFadeUp" data-wow-delay="0.6s" data-toggle="modal" data-target="#signup-modal" style="visibility: visible; animation-delay: 0.6s; animation-name: pixFadeUp;">Get Started</a>
                        {% endif %}
                        {% else %}
                        <a href="#" id="main-start-button" class="pxs-btn banner-btn wow pixFadeUp" data-wow-delay="0.6s" data-toggle="modal"
                            data-target="#signup-modal" style="visibility: visible; animation-delay: 0.6s; animation-name: pixFadeUp;">Get
                            Started</a>
                        {% endif %}
                    </div><!-- /.banner-content -->
                </div>
                <!-- /.col-lg-8 -->

                <div class="col-lg-4 col-md-5">
                    <div class="promo-mockup wow pixFadeUp text-center animated"
                        style="visibility: visible; animation-name: jump;">
                        <img src="{% static 'homepage/img/working1.jpg' %}" class="wow pixZoomIn" alt="mpckup"
                            style="visibility: visible; animation-name: pixZoomIn;">
                    </div><!-- /.promo-mockup -->
                </div>
                <!-- /.col-lg-4 col-md-5 -->
            </div>
            <!-- /.row -->
        </div><!-- /.banner-content-wrap -->
    </div><!-- /.container -->
</section>
<section class="featured-tax">
    <div class="container">
        <div class="section-title style-three text-center">
            <h3 class="sub-title wow pixFadeUp" style="visibility: visible; animation-name: pixFadeUp;">The Six Steps
            </h3>
            <h2 class="title wow pixFadeUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: pixFadeUp;">Work a New Way
            </h2>
            <p class="wow pixFadeUp" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: pixFadeUp;">
                We strive to serve our clients as best we can on social media while providing a unbias platform for
                managers to work on.
            </p>
        </div><!-- /.section-title -->
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="saaspik-icon-box-wrapper style-nine wow pixFadeRight text-center" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: pixFadeRight;">
                    <div class="text-center">
                        <img class="six-steps-imgs" src="{% static 'homepage/img/become-a-manager/validation.png' %}"
                            alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title six-steps-header">Verification</h3>
                        <p>
                            The verification process is it to ensure the quality of the social media managers on our
                            platform.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-nine -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-4">
                <div class="saaspik-icon-box-wrapper style-nine wow pixFadeRight text-center" data-wow-delay="0.5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: pixFadeRight;">
                    <div class="text-center color-two">
                        <img class="six-steps-imgs" src="{% static 'homepage/img/become-a-manager/assigned.png' %}"
                            alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title six-steps-header">Randomly Assigned</h3>

                        <p>
                            We try to make our platform as unbiased as possible. There are some exeptions, such as when
                            we pair our clients with managers to fulfil their certain needs.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-nine -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-4">
                <div class="saaspik-icon-box-wrapper style-nine wow pixFadeRight text-center" data-wow-delay="0.6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: pixFadeRight;">
                    <div class="text-center color-three">
                        <img class="six-steps-imgs" src="{% static 'homepage/img/become-a-manager/management.png' %}"
                            alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title six-steps-header">Management</h3>
                        <p>
                            Knowing when to commit certain actions such as comments, likes, etc on social media is
                            essential to become successful as a social media manager.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-nine -->
            </div><!-- /.col-lg-4 col-md-6 -->
            <div class="col-lg-4 col-md-4">
                <div class="saaspik-icon-box-wrapper style-nine wow pixFadeRight text-center" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: pixFadeRight;">
                    <div class="text-center">
                        <img class="six-steps-imgs" src="{% static 'homepage/img/become-a-manager/milestone.png' %}"
                            alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title six-steps-header">Hit Milestones During Jobs</h3>
                        <p>
                            Every job will have milestones. The number of milestones varies by the size of the job.
                            Clients will be presented the work done when each milestone is completed.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-nine -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-4">
                <div class="saaspik-icon-box-wrapper style-nine wow pixFadeRight text-center" data-wow-delay="0.5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: pixFadeRight;">
                    <div class="text-center color-two">
                        <img class="six-steps-imgs" src="{% static 'homepage/img/become-a-manager/communication.png' %}"
                            alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title six-steps-header">Be available for clients</h3>

                        <p>
                            We encourage you to accept jobs where you can be available for your client during the
                            duration of the job.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-nine -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-4">
                <div class="saaspik-icon-box-wrapper style-nine wow pixFadeRight text-center" data-wow-delay="0.6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: pixFadeRight;">
                    <div class="text-center color-three">
                        <img class="six-steps-imgs" src="{% static 'homepage/img/become-a-manager/money.png' %}"
                            alt="feature">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title six-steps-header">Make it Rain</h3>
                        <p>
                            Managers are paid when each milestone is completed. Managers are paid more over time as they
                            gain more experience on our platform.
                        </p>
                    </div>
                </div><!-- /.pixsass-box style-nine -->
            </div><!-- /.col-lg-4 col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<section class="featured-six">
    <div class="container">
        <div class="section-title style-three text-center">
            <h2 class="title wow pixFadeUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: pixFadeUp;">
                Join Our Community Of Managers
            </h2>
            <p id="join-description">Our Managers are responsible for posting content given <br> by clients and looking for content relevant to their business</p>
        </div><!-- /.section-title -->

        <div class="row align-items-center" id="our-managers-can-div">
            <!-- /.col-lg-5 -->
            <div class="col-lg-5 col-md-5">
                <div class="feature-image-wrapper wow pixFadeLeft" style="visibility: visible; animation-name: pixFadeLeft;">
                    <img id="picture-two" src="{% static 'homepage/img/working-show.jpg' %}" alt="">
                </div>
                <!-- /.feature-image-wrapper -->
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="saaspik-icon-box-wrapper style-six wow pixFadeRight" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: pixFadeRight;">
                    <div class="pixsass-icon-box-content">
                        <h4>
                            Our managers are capable of
                        </h4>
                    </div>
                </div><!-- /.pixsass-box style-six -->
                <div class="saaspik-icon-box-wrapper style-six wow pixFadeRight" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: pixFadeRight;">
                    <div class="pixsass-icon-box-content">
                        <ul class="smm-list text-left">
                            <li class="have h5">Being able to design a social media campaign for their jobs</li>
                            <li class="have h5">Creating detailed post descriptions from given content</li>
                            <li class="have h5">Engaging in common social media activities(likes, comments, etc.)</li>
                            <li class="have h5">Sharing content relevant to the client’s business and their niche</li>
                        </ul>
                    </div>
                </div><!-- /.pixsass-box style-six -->
            </div>
            <!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endblock %}