{% extends 'homepage/header.html' %}
{% load static %}
{% block content %}
<style>
    section {
        margin-top: 150px;
        margin-bottom: 200px;
    }
</style>
<section class="featured">
    <div class="container">
        <h2>Refunds</h2>
        <p>
            Thanks for purchasing our services at iblinkco.com operated by iBlinkco LLC.
        </p>
        <p>
            We offer a full money-back guarantee for all purchases made on our website. If you are not satisfied with the product
        that you have purchased from us, you can get your money back no questions asked. You are eligible for a full
        reimbursement within 5 calendar days of your purchase.
        </p>
        <p>
            After the 5-day period, you will no longer be eligible and won't be able to receive a refund. We encourage our
        customers to try the service in the first 5 days after their purchase to ensure it fits your needs.
        </p>
        <p>
            In order to be eligible for a refund, you need to have a <a href="https://stripe.com" target="__black__">Stripe account</a> so you can receive the refund. If you have any other question contact us at iblinkcompany@gmail.com.
        </p>
    </div>
</section>
{% endblock %}