{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'users-forgot-password' %}">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Token block needed for added security -->
    {% csrf_token %}

    <!-- Imported form.py and is using add on Crispy forms to enhance look-->
    <p>Email:</p>
    <div class="form-group">
        {{ form_login.username }}
    </div>
    <input type="hidden" name="current-path" id="current-path" value="{{ request.resolver_match.url_name }}">
    <input class="btn-success" type="submit" value="Send">
</form>
{% endblock %}